@import '../../navbar.module.scss';

.Toggle {
	@include flex-center-center;
	@include hover-cursor;

	position: absolute;
	z-index: 122;
	// padding-top: 18px;
	// padding-left: 13px;
	padding: 24px 12px 15px 16px !important;
	// border-radius: 100%;
	border: none;

	height: map-get($nav-sizes, mobile-toggle-size);
	width: map-get($nav-sizes, mobile-toggle-size);

	svg {
		margin-top: 4px;
		position: absolute;
	}
}
