@import 'sass';

.FooterWrapper {
	@include flex-col-center-center;
	padding: 0 !important;
	width: 100vw;
	color: white;

	.Grid {
		margin: 0 !important;
	}

	.Top,
	.Bottom {
		width: 100%;
	}

	.Top {
		background-color: map-get($colors, primaryAlt);
		padding: 30px 0;

		p {
			@include p-summary;
			padding-top: 8px;

			@media #{map-get($media, tablet-max)} {
				margin-bottom: 15px !important;
			}
		}

		h3 {
			@include sub-default;
			font-weight: 700 !important;
		}

		p,
		h3 {
			margin: 0 !important;
		}
	}

	.Bottom {
		background-color: map-get($colors, primaryDark);
		padding: 10px 0 20px 0;

		@media #{map-get($media, mobile)} {
			padding: 10px 0 70px 0;
		}

		.FooterBrand {
			.Logo {
				max-width: 300px !important;
			}

			@media #{map-get($media, mobile)} {
				@include flex-center-center;
			}

			@media #{map-get($media, tablet-min)} {
				@include flex-start;
			}
		}

		p {
			@include p-summary;
			margin-top: 14px;
		}

		.SocialIconWrapper {
			@include flex-center;
		}

		.InfoWrapper {
			@media #{map-get($media, tablet-max)} {
				@include flex-center-center;
			}

			@media #{map-get($media, cpu-min)} {
				@include flex-end;
			}
		}
	}
}
