@import '../../../../sass/';

.SectionWrapper {
	@include flex-center-center;
	@include center-cover-bg;

	position: relative;

	width: 100vw;
	height: 95vh;

	.Overlay {
		@include bg-overlay-1;
		z-index: 1;
	}

	.Wrapper {
		@include flex-col-center-center;
		position: relative;
		z-index: 2;

		img {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}

		h3 {
			@include sub-default;
			color: white;
		}

		.ButtonWrapper {
			display: flex;
			padding: 20px;
		}
	}
}
