$colors: (
	// --> Theme
	primary: #3b7d58,
	primaryPale: #4c956c,
	primaryTransp: #2c6e49d1,
	primaryDark: #367b55,
	primaryAlt: #5a9d77,
	secondary: #d68c45,
	secondaryPale: #e9c29d,
	secondaryTransp: #d68c45bf,
	// --> Generics
	colorRed: #f63150cc,
	colorRedHover: #ee1414cc,
	colorGreen: #4ebf62,
	colorGreenHover: #23b828,
	ratingYellow: #ffc225,
	// --> Shades
	primaryBlack: #585858,
	// --> Brands
	spotify: #1db954,
	facebook: #3b5998,
	google: #eaeaea,
	yelp: #c41200d1
);

@each $colorName, $color in $colors {
	:export {
		#{$colorName}: #{map-get($colors, #{$colorName})};
	}
}
