@import 'sass';

.SectionWrapper {
	position: relative;
	padding: 80px 0 250px 0;

	@media #{map-get($media, mobile)} {
		padding: 40px 0 160px 0;
	}

	.Title,
	.Sub {
		text-align: center;
	}

	.Title {
		@include body-hdr-default;
		margin: 0;
	}

	.Sub {
		@include sub-default;
		color: map-get($colors, color_secondary);
		margin: 0;
	}

	.Body {
		p {
			@include p-default;
			&:last-of-type {
				margin-bottom: 80px;

				@media #{map-get($media, mobile)} {
					margin-bottom: 40px;
				}
			}
		}
	}
}
