@mixin p-default {
	font-weight: 300 !important;

	// Mobile
	@media only screen and (max-width: 767px) {
		font-size: 1.3rem !important;
		line-height: 1.7rem !important;
	}
	// Tablet
	@media only screen and (min-width: 768px) {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
	}
	// Computer
	@media only screen and (min-width: 991px) {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
	}
	// Extra large
	@media only screen and (min-width: 1400px) {
		font-size: 1.7rem !important;
		line-height: 2.2rem !important;
	}
}

@mixin sub-default {
	font-size: 2rem !important;
	font-weight: 300 !important;
	letter-spacing: 1px;
	margin-bottom: 20px !important;

	// Mobile
	@media only screen and (max-width: 767px) {
		font-size: 1.75rem !important;
		line-height: 2rem !important;
	}
	// Tablet
	@media only screen and (min-width: 768px) {
		font-size: 2.9vw !important;
		line-height: 3.2vw !important;
	}
	// Computer
	@media only screen and (min-width: 991px) {
		font-size: 2vw !important;
		line-height: 2.4vw !important;
	}
	// Extra large
	@media only screen and (min-width: 1400px) {
		font-size: 2rem !important;
		line-height: 2.3rem !important;
	}
}

@mixin body-hdr-default {
	letter-spacing: 1px;

	// Mobile
	@media only screen and (max-width: 767px) {
		font-size: 2.8rem !important;
		line-height: 3rem !important;
	}
	// Tablet
	@media only screen and (min-width: 768px) {
		font-size: 4.7vw !important;
		line-height: 4.8vw !important;
	}
	// Computer
	@media only screen and (min-width: 991px) {
		font-size: 3.4vw !important;
		line-height: 3.5vw !important;
	}
	// Extra large
	@media only screen and (min-width: 1400px) {
		font-size: 3.2rem !important;
		line-height: 3.5rem !important;
	}
}
